Problema_B_Enunciado.json
[
    {
        "id": "1bf2c0617b72b035",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5095127db7e1669e",
        "type": "openweathermap",
        "z": "1bf2c0617b72b035",
        "name": "Porto,Portugal",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Futaleufu",
        "country": "CL",
        "language": "en",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "4693be1fb4728d9c"
            ]
        ]
    },
    {
        "id": "67a92247c06a4b65",
        "type": "inject",
        "z": "1bf2c0617b72b035",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "5095127db7e1669e"
            ]
        ]
    },
    {
        "id": "4693be1fb4728d9c",
        "type": "function",
        "z": "1bf2c0617b72b035",
        "name": "Simplify data",
        "func": "var newPayload = {};\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 140,
        "wires": [
            [
                "c4208b347fdbe575",
                "6e90f178dbcd6a1a"
            ]
        ]
    },
    {
        "id": "c4208b347fdbe575",
        "type": "mqtt out",
        "z": "1bf2c0617b72b035",
        "name": "",
        "topic": "home/porto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "a3e87f5871b3a52b",
        "type": "openweathermap",
        "z": "1bf2c0617b72b035",
        "name": "London, England",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "London",
        "country": "England",
        "language": "en",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "6eb7465b21ee3822"
            ]
        ]
    },
    {
        "id": "781b460e1b48c1b8",
        "type": "inject",
        "z": "1bf2c0617b72b035",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "a3e87f5871b3a52b"
            ]
        ]
    },
    {
        "id": "0c84f872f8fca833",
        "type": "mqtt out",
        "z": "1bf2c0617b72b035",
        "name": "",
        "topic": "home/london",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "36a6ea4cb1a70064",
        "type": "openweathermap",
        "z": "1bf2c0617b72b035",
        "name": "Tokyo,Japan",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Tokyo",
        "country": "JP",
        "language": "en",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "5d5ea7a169080db5"
            ]
        ]
    },
    {
        "id": "22044bda0a797bca",
        "type": "inject",
        "z": "1bf2c0617b72b035",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "36a6ea4cb1a70064"
            ]
        ]
    },
    {
        "id": "8fe05bcfe78ad36a",
        "type": "mqtt out",
        "z": "1bf2c0617b72b035",
        "name": "",
        "topic": "home/tokyo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "6eb7465b21ee3822",
        "type": "function",
        "z": "1bf2c0617b72b035",
        "name": "Simplify data",
        "func": "var newPayload = {};\n\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 180,
        "wires": [
            [
                "0c84f872f8fca833",
                "61adf1df95765bf2"
            ]
        ]
    },
    {
        "id": "5d5ea7a169080db5",
        "type": "function",
        "z": "1bf2c0617b72b035",
        "name": "Simplify data",
        "func": "var newPayload = {};\n\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\n\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "8fe05bcfe78ad36a",
                "2ef4a4f81eff73ed"
            ]
        ]
    },
    {
        "id": "a00f32832285f3a6",
        "type": "comment",
        "z": "1bf2c0617b72b035",
        "name": "Timer 1min",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "8e67de0cd4b5980f",
        "type": "comment",
        "z": "1bf2c0617b72b035",
        "name": "Nós openweathermap",
        "info": "**LER NOTAS DO NÓ**\nCriar conta em https://openweathermap.org\nInserir API key, configurar cidade à sua escolha",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "734a97845be90b0a",
        "type": "comment",
        "z": "1bf2c0617b72b035",
        "name": "reduzir propriedades",
        "info": "",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "976f105d87fa9142",
        "type": "comment",
        "z": "1bf2c0617b72b035",
        "name": "topicos mqtt",
        "info": "",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "6e90f178dbcd6a1a",
        "type": "debug",
        "z": "1bf2c0617b72b035",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "61adf1df95765bf2",
        "type": "debug",
        "z": "1bf2c0617b72b035",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "2ef4a4f81eff73ed",
        "type": "debug",
        "z": "1bf2c0617b72b035",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "75bec71e3646c77f",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]