Solucao_B.json
[
    {
        "id": "493a83b19b72af49",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5304b8a29b90e211",
        "type": "openweathermap",
        "z": "493a83b19b72af49",
        "name": "Porto,Portugal",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Porto",
        "country": "PT",
        "language": "en",
        "x": 1160,
        "y": 100,
        "wires": [
            [
                "4da21e1307c5abd2"
            ]
        ]
    },
    {
        "id": "a244612aaeff16ad",
        "type": "inject",
        "z": "493a83b19b72af49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1150,
        "y": 60,
        "wires": [
            [
                "5304b8a29b90e211"
            ]
        ]
    },
    {
        "id": "4da21e1307c5abd2",
        "type": "function",
        "z": "493a83b19b72af49",
        "name": "Simplify data",
        "func": "var newPayload = {};\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 140,
        "wires": [
            [
                "186b5456f3e05a83"
            ]
        ]
    },
    {
        "id": "186b5456f3e05a83",
        "type": "mqtt out",
        "z": "493a83b19b72af49",
        "name": "",
        "topic": "home/porto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 1150,
        "y": 180,
        "wires": []
    },
    {
        "id": "c18525b59ba90640",
        "type": "openweathermap",
        "z": "493a83b19b72af49",
        "name": "London, England",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "London",
        "country": "England",
        "language": "en",
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "760e2f634dce49b8"
            ]
        ]
    },
    {
        "id": "cddaf883a0299f08",
        "type": "inject",
        "z": "493a83b19b72af49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "c18525b59ba90640"
            ]
        ]
    },
    {
        "id": "fe334ee7e823f1aa",
        "type": "mqtt out",
        "z": "493a83b19b72af49",
        "name": "",
        "topic": "home/london",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "2f49952e8acfb3e5",
        "type": "openweathermap",
        "z": "493a83b19b72af49",
        "name": "Tokyo,Japan",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Tokyo",
        "country": "JP",
        "language": "en",
        "x": 1150,
        "y": 680,
        "wires": [
            [
                "6dd1a242b390356e"
            ]
        ]
    },
    {
        "id": "731329cbf26e891e",
        "type": "inject",
        "z": "493a83b19b72af49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1150,
        "y": 640,
        "wires": [
            [
                "2f49952e8acfb3e5"
            ]
        ]
    },
    {
        "id": "5b692e699210c23e",
        "type": "mqtt out",
        "z": "493a83b19b72af49",
        "name": "",
        "topic": "home/tokyo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 1150,
        "y": 760,
        "wires": []
    },
    {
        "id": "40c58818742b446a",
        "type": "debug",
        "z": "493a83b19b72af49",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 440,
        "wires": []
    },
    {
        "id": "e7b806ccdad90821",
        "type": "mqtt in",
        "z": "493a83b19b72af49",
        "name": "",
        "topic": "home/porto",
        "qos": "2",
        "datatype": "auto",
        "broker": "75bec71e3646c77f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "80822ed1411a0313"
            ]
        ]
    },
    {
        "id": "deb2379974b6404f",
        "type": "mqtt in",
        "z": "493a83b19b72af49",
        "name": "",
        "topic": "home/london",
        "qos": "2",
        "datatype": "auto",
        "broker": "75bec71e3646c77f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "0e66c05ad5936010"
            ]
        ]
    },
    {
        "id": "4f84b0ae42af906f",
        "type": "mqtt in",
        "z": "493a83b19b72af49",
        "name": "",
        "topic": "home/tokyo",
        "qos": "2",
        "datatype": "auto",
        "broker": "75bec71e3646c77f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 680,
        "wires": [
            [
                "778f6967d268e1df"
            ]
        ]
    },
    {
        "id": "49e38506ebd0f910",
        "type": "debug",
        "z": "493a83b19b72af49",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "760e2f634dce49b8",
        "type": "function",
        "z": "493a83b19b72af49",
        "name": "Simplify data",
        "func": "var newPayload = {};\n\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 420,
        "wires": [
            [
                "fe334ee7e823f1aa"
            ]
        ]
    },
    {
        "id": "6dd1a242b390356e",
        "type": "function",
        "z": "493a83b19b72af49",
        "name": "Simplify data",
        "func": "var newPayload = {};\n\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\n\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 720,
        "wires": [
            [
                "5b692e699210c23e"
            ]
        ]
    },
    {
        "id": "bea55a92d75c71f0",
        "type": "debug",
        "z": "493a83b19b72af49",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 720,
        "wires": []
    },
    {
        "id": "778f6967d268e1df",
        "type": "json",
        "z": "493a83b19b72af49",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 680,
        "wires": [
            [
                "bea55a92d75c71f0",
                "af44557fe0f34ad7",
                "162cd6988a22c256",
                "0210ada85b113a47",
                "fd4ac69331f59dd5"
            ]
        ]
    },
    {
        "id": "0e66c05ad5936010",
        "type": "json",
        "z": "493a83b19b72af49",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "40c58818742b446a",
                "d874633142a1a89a",
                "91bf502f71de8339",
                "02131a96a33e3a8f",
                "d89cf18705a1ac7a"
            ]
        ]
    },
    {
        "id": "80822ed1411a0313",
        "type": "json",
        "z": "493a83b19b72af49",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "49e38506ebd0f910",
                "e8168bad46cd3997",
                "33dd53a595b37439",
                "31a7beea49f5cca0",
                "8d534b9a25d3b68a"
            ]
        ]
    },
    {
        "id": "e8168bad46cd3997",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "7075eb346cd5ac1e",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "33dd53a595b37439",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "7075eb346cd5ac1e",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Wind",
        "label": "km/h",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#009eb3",
            "#0c75b6",
            "#1623df"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "d874633142a1a89a",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "070bd6b4c8394480",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "91bf502f71de8339",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "070bd6b4c8394480",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Wind",
        "label": "km/h",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#009eb3",
            "#0c75b6",
            "#1623df"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "af44557fe0f34ad7",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "df0b32eea6318564",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "162cd6988a22c256",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "df0b32eea6318564",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Wind",
        "label": "km/h",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#009eb3",
            "#0c75b6",
            "#1623df"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 740,
        "wires": []
    },
    {
        "id": "31a7beea49f5cca0",
        "type": "switch",
        "z": "493a83b19b72af49",
        "name": "",
        "property": "payload.weather",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Clouds",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "a9fb2827bcd12c0c"
            ],
            [
                "e1ab2bac8ed5152c"
            ],
            [
                "2a249cd26e0c90c5"
            ]
        ]
    },
    {
        "id": "7313a6b44442a812",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "7075eb346cd5ac1e",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Clouds",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 220,
        "wires": []
    },
    {
        "id": "2a249cd26e0c90c5",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a cloudy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 220,
        "wires": [
            [
                "7313a6b44442a812"
            ]
        ]
    },
    {
        "id": "c2b408af133e3817",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "7075eb346cd5ac1e",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Rain",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "5843e41ace03b4cc",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "7075eb346cd5ac1e",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Clear",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "e1ab2bac8ed5152c",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a rainy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "c2b408af133e3817"
            ]
        ]
    },
    {
        "id": "a9fb2827bcd12c0c",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a clear day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "5843e41ace03b4cc"
            ]
        ]
    },
    {
        "id": "02131a96a33e3a8f",
        "type": "switch",
        "z": "493a83b19b72af49",
        "name": "",
        "property": "payload.weather",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Clouds",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "b3ec8ab43185abaa"
            ],
            [
                "406e1ebc32145484"
            ],
            [
                "b34b42a3de4a932b"
            ]
        ]
    },
    {
        "id": "7f99aa48b1217de9",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "070bd6b4c8394480",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Clouds",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "b34b42a3de4a932b",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a cloudy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 500,
        "wires": [
            [
                "7f99aa48b1217de9"
            ]
        ]
    },
    {
        "id": "79c9af06f37cb698",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "070bd6b4c8394480",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Rain",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "4c63190a6f939cfc",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "070bd6b4c8394480",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Clear",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "406e1ebc32145484",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a rainy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "79c9af06f37cb698"
            ]
        ]
    },
    {
        "id": "b3ec8ab43185abaa",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a clear day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 420,
        "wires": [
            [
                "4c63190a6f939cfc"
            ]
        ]
    },
    {
        "id": "0210ada85b113a47",
        "type": "switch",
        "z": "493a83b19b72af49",
        "name": "",
        "property": "payload.weather",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Clouds",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "1c6efb01f0397eca"
            ],
            [
                "754823e219ca2a6a"
            ],
            [
                "58ca17b3f89289f0"
            ]
        ]
    },
    {
        "id": "5231e9fe3a5bbfda",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "df0b32eea6318564",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Clouds",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "58ca17b3f89289f0",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a cloudy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 680,
        "wires": [
            [
                "5231e9fe3a5bbfda"
            ]
        ]
    },
    {
        "id": "0c891d80f5079c8c",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "df0b32eea6318564",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Rain",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "d69f7213fd3ed0ab",
        "type": "ui_text",
        "z": "493a83b19b72af49",
        "group": "df0b32eea6318564",
        "order": 7,
        "width": 3,
        "height": 1,
        "name": "Clear",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "754823e219ca2a6a",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a rainy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 640,
        "wires": [
            [
                "0c891d80f5079c8c"
            ]
        ]
    },
    {
        "id": "1c6efb01f0397eca",
        "type": "change",
        "z": "493a83b19b72af49",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a clear day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 600,
        "wires": [
            [
                "d69f7213fd3ed0ab"
            ]
        ]
    },
    {
        "id": "8d534b9a25d3b68a",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "7075eb346cd5ac1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload.temp}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#26c4d9",
            "#25e43b",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "d89cf18705a1ac7a",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "070bd6b4c8394480",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload.temp}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#26c4d9",
            "#25e43b",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "fd4ac69331f59dd5",
        "type": "ui_gauge",
        "z": "493a83b19b72af49",
        "name": "",
        "group": "df0b32eea6318564",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload.temp}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#26c4d9",
            "#25e43b",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 510,
        "y": 780,
        "wires": []
    },
    {
        "id": "56ee1b59edb5f116",
        "type": "comment",
        "z": "493a83b19b72af49",
        "name": "CIDADE 3",
        "info": "",
        "x": 100,
        "y": 580,
        "wires": []
    },
    {
        "id": "bb44970a3b717e15",
        "type": "comment",
        "z": "493a83b19b72af49",
        "name": "CIDADE 2",
        "info": "",
        "x": 100,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb5f422c1e5f5a49",
        "type": "comment",
        "z": "493a83b19b72af49",
        "name": "CIDADE 1",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "b3d15197ad43ec80",
        "type": "ui_spacer",
        "z": "493a83b19b72af49",
        "name": "spacer",
        "group": "005a4e3931512002",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "b5be9643cea23358",
        "type": "ui_spacer",
        "z": "493a83b19b72af49",
        "name": "spacer",
        "group": "7075eb346cd5ac1e",
        "order": 1,
        "width": 10,
        "height": 1
    },
    {
        "id": "11c2ca7e13594d37",
        "type": "ui_spacer",
        "z": "493a83b19b72af49",
        "name": "spacer",
        "group": "7075eb346cd5ac1e",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "13b3532666aaf5c7",
        "type": "ui_spacer",
        "z": "493a83b19b72af49",
        "name": "spacer",
        "group": "df0b32eea6318564",
        "order": 1,
        "width": 10,
        "height": 1
    },
    {
        "id": "da8f573d9739d0aa",
        "type": "ui_spacer",
        "z": "493a83b19b72af49",
        "name": "spacer",
        "group": "df0b32eea6318564",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "e1ec154e866be092",
        "type": "ui_spacer",
        "z": "493a83b19b72af49",
        "name": "spacer",
        "group": "070bd6b4c8394480",
        "order": 1,
        "width": 10,
        "height": 1
    },
    {
        "id": "cafb812a636bbf1c",
        "type": "ui_spacer",
        "z": "493a83b19b72af49",
        "name": "spacer",
        "group": "070bd6b4c8394480",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "75bec71e3646c77f",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7075eb346cd5ac1e",
        "type": "ui_group",
        "name": "Porto",
        "tab": "166cc4bfd8cd759f",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "070bd6b4c8394480",
        "type": "ui_group",
        "name": "London",
        "tab": "166cc4bfd8cd759f",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "df0b32eea6318564",
        "type": "ui_group",
        "name": "Tokyo",
        "tab": "166cc4bfd8cd759f",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "005a4e3931512002",
        "type": "ui_group",
        "name": "MQTT OUT",
        "tab": "cae1f52a8268e73d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "166cc4bfd8cd759f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cae1f52a8268e73d",
        "type": "ui_tab",
        "name": "Testes",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
