Solucao_Desafio.json
[
    {
        "id": "602e835b06930449",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b02fd7c89d37dec",
        "type": "openweathermap",
        "z": "602e835b06930449",
        "name": "Porto,Portugal",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Porto",
        "country": "PT",
        "language": "en",
        "x": 360,
        "y": 680,
        "wires": [
            [
                "3b2b849bb9239d1f"
            ]
        ]
    },
    {
        "id": "47e5d549ba4bb297",
        "type": "inject",
        "z": "602e835b06930449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "2b02fd7c89d37dec"
            ]
        ]
    },
    {
        "id": "3b2b849bb9239d1f",
        "type": "function",
        "z": "602e835b06930449",
        "name": "Simplify data",
        "func": "var newPayload = {};\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 680,
        "wires": [
            [
                "17f23c06453dcded"
            ]
        ]
    },
    {
        "id": "17f23c06453dcded",
        "type": "mqtt out",
        "z": "602e835b06930449",
        "name": "",
        "topic": "home/porto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 790,
        "y": 680,
        "wires": []
    },
    {
        "id": "93f781dcc113b27e",
        "type": "openweathermap",
        "z": "602e835b06930449",
        "name": "London, England",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "London",
        "country": "England",
        "language": "en",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "a6d9359d88715d40"
            ]
        ]
    },
    {
        "id": "bc6eddd45c53545b",
        "type": "inject",
        "z": "602e835b06930449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 720,
        "wires": [
            [
                "93f781dcc113b27e"
            ]
        ]
    },
    {
        "id": "9c3fa90df0761597",
        "type": "mqtt out",
        "z": "602e835b06930449",
        "name": "",
        "topic": "home/london",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "ae90913289f272e7",
        "type": "openweathermap",
        "z": "602e835b06930449",
        "name": "Tokyo,Japan",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Tokyo",
        "country": "JP",
        "language": "en",
        "x": 350,
        "y": 760,
        "wires": [
            [
                "63583bbb0b6ca361"
            ]
        ]
    },
    {
        "id": "7f94f7178023c887",
        "type": "inject",
        "z": "602e835b06930449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "ae90913289f272e7"
            ]
        ]
    },
    {
        "id": "355192dbe775aed9",
        "type": "mqtt out",
        "z": "602e835b06930449",
        "name": "",
        "topic": "home/tokyo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bec71e3646c77f",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "e1027446f299922e",
        "type": "debug",
        "z": "602e835b06930449",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c36a8781cec4d5db",
        "type": "mqtt in",
        "z": "602e835b06930449",
        "name": "",
        "topic": "home/porto",
        "qos": "2",
        "datatype": "auto",
        "broker": "75bec71e3646c77f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "9b0779a9e2df239e"
            ]
        ]
    },
    {
        "id": "24d1eb3468922b58",
        "type": "mqtt in",
        "z": "602e835b06930449",
        "name": "",
        "topic": "home/london",
        "qos": "2",
        "datatype": "auto",
        "broker": "75bec71e3646c77f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "d6cc09d244a6595b"
            ]
        ]
    },
    {
        "id": "a0aa5c04b358117d",
        "type": "mqtt in",
        "z": "602e835b06930449",
        "name": "",
        "topic": "home/tokyo",
        "qos": "2",
        "datatype": "auto",
        "broker": "75bec71e3646c77f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1340,
        "wires": [
            [
                "d1f7662d8895c359"
            ]
        ]
    },
    {
        "id": "71d289f1b366c3db",
        "type": "debug",
        "z": "602e835b06930449",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "a6d9359d88715d40",
        "type": "function",
        "z": "602e835b06930449",
        "name": "Simplify data",
        "func": "var newPayload = {};\n\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 720,
        "wires": [
            [
                "9c3fa90df0761597"
            ]
        ]
    },
    {
        "id": "63583bbb0b6ca361",
        "type": "function",
        "z": "602e835b06930449",
        "name": "Simplify data",
        "func": "var newPayload = {};\n\nnewPayload.weather = msg.payload.weather;\nnewPayload.temp = Math.round(msg.payload.tempc);\nnewPayload.humidity = Math.round(msg.payload.humidity);\nnewPayload.windspeed = Math.round(msg.payload.windspeed);\n\nmsg.payload = newPayload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 760,
        "wires": [
            [
                "355192dbe775aed9"
            ]
        ]
    },
    {
        "id": "da22db4761230f8a",
        "type": "debug",
        "z": "602e835b06930449",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d1f7662d8895c359",
        "type": "json",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1340,
        "wires": [
            [
                "da22db4761230f8a",
                "92cc1992c5659c94",
                "9c64332e7f0d6251",
                "cf79e7a689ad78ba",
                "bb6a3357f5d2454d"
            ]
        ]
    },
    {
        "id": "d6cc09d244a6595b",
        "type": "json",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "e1027446f299922e",
                "1a654fd4099b0a21",
                "42c63275a0a82a26",
                "b7627b0f4e18fd6e",
                "c88a2b001a018241"
            ]
        ]
    },
    {
        "id": "9b0779a9e2df239e",
        "type": "json",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "71d289f1b366c3db",
                "8065e4b25c163eb0",
                "8b3a51c98c2468b9",
                "c243938a894f6e8f",
                "0e270280636573df"
            ]
        ]
    },
    {
        "id": "8065e4b25c163eb0",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "7075eb346cd5ac1e",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "8b3a51c98c2468b9",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "7075eb346cd5ac1e",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Wind",
        "label": "km/h",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#009eb3",
            "#0c75b6",
            "#1623df"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 900,
        "wires": []
    },
    {
        "id": "1a654fd4099b0a21",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "070bd6b4c8394480",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 1060,
        "wires": []
    },
    {
        "id": "42c63275a0a82a26",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "070bd6b4c8394480",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Wind",
        "label": "km/h",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#009eb3",
            "#0c75b6",
            "#1623df"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 1100,
        "wires": []
    },
    {
        "id": "92cc1992c5659c94",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "df0b32eea6318564",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 1360,
        "wires": []
    },
    {
        "id": "9c64332e7f0d6251",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "df0b32eea6318564",
        "order": 3,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Wind",
        "label": "km/h",
        "format": "{{msg.payload.windspeed}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#009eb3",
            "#0c75b6",
            "#1623df"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 1400,
        "wires": []
    },
    {
        "id": "c243938a894f6e8f",
        "type": "switch",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload.weather",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Clouds",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 960,
        "wires": [
            [
                "c9a3bb53d865f0ba"
            ],
            [
                "7de06e8495a9d40d"
            ],
            [
                "5c9c62a07422ed79"
            ]
        ]
    },
    {
        "id": "9e5878c76b66ea93",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "7075eb346cd5ac1e",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Clouds",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5c9c62a07422ed79",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a cloudy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1000,
        "wires": [
            [
                "9e5878c76b66ea93"
            ]
        ]
    },
    {
        "id": "fd404037c976ef01",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "7075eb346cd5ac1e",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Rain",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 960,
        "wires": []
    },
    {
        "id": "ce574863b539ba3e",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "7075eb346cd5ac1e",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Clear",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 920,
        "wires": []
    },
    {
        "id": "7de06e8495a9d40d",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a rainy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 960,
        "wires": [
            [
                "fd404037c976ef01"
            ]
        ]
    },
    {
        "id": "c9a3bb53d865f0ba",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a clear day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 920,
        "wires": [
            [
                "ce574863b539ba3e"
            ]
        ]
    },
    {
        "id": "b7627b0f4e18fd6e",
        "type": "switch",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload.weather",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Clouds",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 1160,
        "wires": [
            [
                "dc298a1cd56639af"
            ],
            [
                "23633ab7110a3208"
            ],
            [
                "8c71d1de3881692f"
            ]
        ]
    },
    {
        "id": "fc9b85db7cb23b67",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "070bd6b4c8394480",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Clouds",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8c71d1de3881692f",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a cloudy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1200,
        "wires": [
            [
                "fc9b85db7cb23b67"
            ]
        ]
    },
    {
        "id": "06513e718272cd22",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "070bd6b4c8394480",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Rain",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1160,
        "wires": []
    },
    {
        "id": "249bd56274e315f2",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "070bd6b4c8394480",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Clear",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1120,
        "wires": []
    },
    {
        "id": "23633ab7110a3208",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a rainy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1160,
        "wires": [
            [
                "06513e718272cd22"
            ]
        ]
    },
    {
        "id": "dc298a1cd56639af",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a clear day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1120,
        "wires": [
            [
                "249bd56274e315f2"
            ]
        ]
    },
    {
        "id": "cf79e7a689ad78ba",
        "type": "switch",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload.weather",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Clear",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Rain",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Clouds",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 1300,
        "wires": [
            [
                "58785c99745f4c72"
            ],
            [
                "e5b2ae4452d29cc6"
            ],
            [
                "c434e4ce8d29cbe5"
            ]
        ]
    },
    {
        "id": "1a4960fb190f779d",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "df0b32eea6318564",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Clouds",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1340,
        "wires": []
    },
    {
        "id": "c434e4ce8d29cbe5",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a cloudy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1340,
        "wires": [
            [
                "1a4960fb190f779d"
            ]
        ]
    },
    {
        "id": "2be3997ec2d5dd75",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "df0b32eea6318564",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Rain",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c5af41753b42dcd3",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "df0b32eea6318564",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Clear",
        "label": "",
        "format": "{{msg.payload.weather}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e5b2ae4452d29cc6",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a rainy day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1300,
        "wires": [
            [
                "2be3997ec2d5dd75"
            ]
        ]
    },
    {
        "id": "58785c99745f4c72",
        "type": "change",
        "z": "602e835b06930449",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload.weather",
                "pt": "msg",
                "to": "Its a clear day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1260,
        "wires": [
            [
                "c5af41753b42dcd3"
            ]
        ]
    },
    {
        "id": "0e270280636573df",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "7075eb346cd5ac1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload.temp}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#26c4d9",
            "#25e43b",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 820,
        "wires": []
    },
    {
        "id": "c88a2b001a018241",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "070bd6b4c8394480",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload.temp}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#26c4d9",
            "#25e43b",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "bb6a3357f5d2454d",
        "type": "ui_gauge",
        "z": "602e835b06930449",
        "name": "",
        "group": "df0b32eea6318564",
        "order": 1,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{msg.payload.temp}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#26c4d9",
            "#25e43b",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 1440,
        "wires": []
    },
    {
        "id": "b04976d653230b12",
        "type": "ui_form",
        "z": "602e835b06930449",
        "name": "",
        "label": "Login",
        "group": "e893191708813132",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Sign In",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "e0ee3a3ab8e1acc7"
            ]
        ]
    },
    {
        "id": "1a84e8c786d1feea",
        "type": "ui_toast",
        "z": "602e835b06930449",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Username Inválido",
        "x": 770,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c30faa73b812519e",
        "type": "ui_toast",
        "z": "602e835b06930449",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Password Inválida",
        "x": 770,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a1fd51f93cf24249",
        "type": "ui_ui_control",
        "z": "602e835b06930449",
        "name": "Meteorologia/Calc",
        "x": 1010,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aaec1de32ba32afc",
        "type": "ui_ui_control",
        "z": "602e835b06930449",
        "name": "Grupo Login",
        "x": 990,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e5a25507d0c905b3",
        "type": "inject",
        "z": "602e835b06930449",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Dashboard_Porto\",\"Dashboard_Tokyo\",\"Dashboard_London\",\"Dashboard_Calc\",\"Dashboard_Botões\"],\"show\":[\"Dashboard_Login\"]}}",
        "payloadType": "json",
        "x": 830,
        "y": 180,
        "wires": [
            [
                "aaec1de32ba32afc"
            ]
        ]
    },
    {
        "id": "0fc0a3d5d33a1bac",
        "type": "ui_button",
        "z": "602e835b06930449",
        "name": "",
        "group": "5744b8e342d37a98",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 890,
        "y": 80,
        "wires": [
            [
                "4b85cca3d681766b"
            ]
        ]
    },
    {
        "id": "dcd7174f46bc585a",
        "type": "ui_ui_control",
        "z": "602e835b06930449",
        "name": "Grupo Login",
        "x": 1310,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "03eb9ba173ddb648",
        "type": "ui_form",
        "z": "602e835b06930449",
        "name": "",
        "label": "Calculadora",
        "group": "d6bb05141a95907b",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "m1",
                "value": "m1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "m2",
                "value": "m2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "op",
                "value": "op",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "m1": "",
            "m2": "",
            "op": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic2",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "c6cfb161164696d4"
            ]
        ]
    },
    {
        "id": "3bbab2360deac1bd",
        "type": "switch",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload.calc.op",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "*",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "-",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "+",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 4,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "d7b59127a476cbf7"
            ],
            [
                "33c068b086c1c176"
            ],
            [
                "a5d89cafef6956da"
            ],
            [
                "6f70cf902300dc2a"
            ]
        ]
    },
    {
        "id": "33c068b086c1c176",
        "type": "calculator",
        "z": "602e835b06930449",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "result",
        "operation": "div",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "472875371941634e"
            ]
        ]
    },
    {
        "id": "a5d89cafef6956da",
        "type": "calculator",
        "z": "602e835b06930449",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "result",
        "operation": "sub",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 1020,
        "y": 520,
        "wires": [
            [
                "472875371941634e"
            ]
        ]
    },
    {
        "id": "6f70cf902300dc2a",
        "type": "calculator",
        "z": "602e835b06930449",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "result",
        "operation": "sum",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "472875371941634e"
            ]
        ]
    },
    {
        "id": "d7b59127a476cbf7",
        "type": "calculator",
        "z": "602e835b06930449",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "result",
        "operation": "mult",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 1020,
        "y": 440,
        "wires": [
            [
                "472875371941634e"
            ]
        ]
    },
    {
        "id": "472875371941634e",
        "type": "ui_text",
        "z": "602e835b06930449",
        "group": "d6bb05141a95907b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Result:",
        "format": "{{msg.result}}",
        "layout": "row-spread",
        "className": "",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "36c4b21e4d9d8049",
        "type": "join",
        "z": "602e835b06930449",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "3bbab2360deac1bd"
            ]
        ]
    },
    {
        "id": "6c1e18320a0102f0",
        "type": "split",
        "z": "602e835b06930449",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "2",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "36c4b21e4d9d8049"
            ]
        ]
    },
    {
        "id": "c6cfb161164696d4",
        "type": "change",
        "z": "602e835b06930449",
        "name": "store op",
        "rules": [
            {
                "t": "move",
                "p": "payload.op",
                "pt": "msg",
                "to": "payload.calc.op",
                "tot": "flow"
            },
            {
                "t": "delete",
                "p": "payload.op",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "6c1e18320a0102f0"
            ]
        ]
    },
    {
        "id": "e0f3bceb6743dcc7",
        "type": "ui_button",
        "z": "602e835b06930449",
        "name": "",
        "group": "5744b8e342d37a98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calculadora",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "6929bc4527a003a1"
            ]
        ]
    },
    {
        "id": "28a7f4b520d2e93b",
        "type": "ui_button",
        "z": "602e835b06930449",
        "name": "",
        "group": "5744b8e342d37a98",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Meteorologia",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "7b1123fbc9b7e3e8"
            ]
        ]
    },
    {
        "id": "91cf6235ddb41194",
        "type": "ui_ui_control",
        "z": "602e835b06930449",
        "name": "Grupo Calculadora",
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8ebcb2453505166e",
        "type": "ui_ui_control",
        "z": "602e835b06930449",
        "name": "Grupo Meteorologia",
        "x": 600,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "910e325044179062",
        "type": "comment",
        "z": "602e835b06930449",
        "name": "Botão de logout",
        "info": "Ao clicar no botão de logout irá esconder todos os grupos menos o de login, e tambem irá resetar o valor da calculadora.",
        "x": 920,
        "y": 40,
        "wires": []
    },
    {
        "id": "2ba1ddbcf5d62f2c",
        "type": "comment",
        "z": "602e835b06930449",
        "name": "Sistema de login",
        "info": "As credenciais sao guardadas em \"set admin\" ",
        "x": 320,
        "y": 260,
        "wires": []
    },
    {
        "id": "2f9e260aebdcf0c3",
        "type": "comment",
        "z": "602e835b06930449",
        "name": "Botões de calculadora e meteorologia",
        "info": "Ao serem acionados estes botões irão ficar visiveis os respectivos grupos da dashboard.",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "b44afbd1c4360acc",
        "type": "comment",
        "z": "602e835b06930449",
        "name": "Startup",
        "info": "Este nó de inject apenas está a enviar uma mensagem em json assim como as funções relacionadas com os botões, o pormenor é o facto deste inject ser acionado apenas uma vez no começo do programa, nos permitindo mostrar o grupo de login como uma pagina inicial.",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "7fd8df7d043608e9",
        "type": "comment",
        "z": "602e835b06930449",
        "name": "Problema A",
        "info": "",
        "x": 210,
        "y": 440,
        "wires": []
    },
    {
        "id": "16c248e0c4f03172",
        "type": "comment",
        "z": "602e835b06930449",
        "name": "Problema B",
        "info": "",
        "x": 210,
        "y": 620,
        "wires": []
    },
    {
        "id": "e0ee3a3ab8e1acc7",
        "type": "change",
        "z": "602e835b06930449",
        "name": "set admin",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "flow",
                "to": "admin",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "admin",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "eca48d89976d5885"
            ]
        ]
    },
    {
        "id": "eca48d89976d5885",
        "type": "switch",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload.username",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "username",
                "vt": "flow"
            },
            {
                "t": "neq",
                "v": "username",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "aab9962591624ce6"
            ],
            [
                "1a84e8c786d1feea"
            ]
        ]
    },
    {
        "id": "aab9962591624ce6",
        "type": "switch",
        "z": "602e835b06930449",
        "name": "",
        "property": "payload.username",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "password",
                "vt": "flow"
            },
            {
                "t": "neq",
                "v": "password",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 300,
        "wires": [
            [
                "22e5585bbfe78dbb"
            ],
            [
                "c30faa73b812519e"
            ]
        ]
    },
    {
        "id": "6929bc4527a003a1",
        "type": "change",
        "z": "602e835b06930449",
        "name": "Esconder/Mostrar grupos ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Porto\",\"Dashboard_Tokyo\",\"Dashboard_London\"],\"show\":[\"Dashboard_Calc\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "91cf6235ddb41194"
            ]
        ]
    },
    {
        "id": "7b1123fbc9b7e3e8",
        "type": "change",
        "z": "602e835b06930449",
        "name": "Esconder/Mostrar grupos ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Calc\"],\"show\":[\"Dashboard_Porto\",\"Dashboard_Tokyo\",\"Dashboard_London\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "8ebcb2453505166e"
            ]
        ]
    },
    {
        "id": "4b85cca3d681766b",
        "type": "change",
        "z": "602e835b06930449",
        "name": "Esconder/Mostrar grupos",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Dashboard_Porto\",\"Dashboard_London\",\"Dashboard_Tokyo\",\"Dashboard_Calc\",\"Dashboard_Botões\"],\"show\":[\"Dashboard_Login\"]}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 80,
        "wires": [
            [
                "dcd7174f46bc585a",
                "472875371941634e"
            ]
        ]
    },
    {
        "id": "22e5585bbfe78dbb",
        "type": "change",
        "z": "602e835b06930449",
        "name": "Esconder/Mostrar grupos ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Dashboard_Botões\"],\"hide\":[\"Dashboard_Login\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 280,
        "wires": [
            [
                "a1fd51f93cf24249"
            ]
        ]
    },
    {
        "id": "71a7648ab47d64de",
        "type": "ui_spacer",
        "z": "602e835b06930449",
        "name": "spacer",
        "group": "7075eb346cd5ac1e",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "00f80833e5c4b49f",
        "type": "ui_spacer",
        "z": "602e835b06930449",
        "name": "spacer",
        "group": "df0b32eea6318564",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3de40d5ee3791db",
        "type": "ui_spacer",
        "z": "602e835b06930449",
        "name": "spacer",
        "group": "070bd6b4c8394480",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "75bec71e3646c77f",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7075eb346cd5ac1e",
        "type": "ui_group",
        "name": "Porto",
        "tab": "d443054d74809de4",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "070bd6b4c8394480",
        "type": "ui_group",
        "name": "London",
        "tab": "d443054d74809de4",
        "order": 6,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "df0b32eea6318564",
        "type": "ui_group",
        "name": "Tokyo",
        "tab": "d443054d74809de4",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e893191708813132",
        "type": "ui_group",
        "name": "Login",
        "tab": "d443054d74809de4",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5744b8e342d37a98",
        "type": "ui_group",
        "name": "Botões",
        "tab": "d443054d74809de4",
        "order": 2,
        "disp": false,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6bb05141a95907b",
        "type": "ui_group",
        "name": "Calc",
        "tab": "d443054d74809de4",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d443054d74809de4",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
